.moviesWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.movies {
	overflow: hidden;
	width: 780px;
}
.slider {
	display: flex;
	gap: 20px;
	transition: transform 1s ease;
}

.arrow {
	background: none;
	border: none;
	cursor: pointer;

	img {
		width: 30px;
	}
}

@media (max-width: 800px) {
	.movies {
		width: 380px;
	}
}
@media (max-width: 500px) {
	.movies {
		width: 180px;
	}
}
