.card {
	width: 200px;
	text-decoration: none;
	&__image {
		width: 200px;
		height: 300px;
	}
	&__title {
		font-size: 20px;
		font-weight: bold;
	}
	&__genre {
		font-weight: bold;
	}
}
.link {
	text-decoration: none;
	color: #2d3c1c;
}
