.card {
	width: 180px;
	text-decoration: none;
	&__image {
		width: 180px;
		height: 270px;
	}
	&__title {
		font-size: 20px;
		font-weight: bold;
	}
	&__genre {
		font-weight: bold;
	}
}
.link {
	text-decoration: none;
	color: #2d3c1c;
	flex: 0 0 180px;
}
