@use "../../styles/mixin" as m;
@use "../../styles/colors" as c;

.header {
	@include m.container;
	@include m.flex-center;
	&__logo {
		font-size: 40px;
		font-weight: bold;
		color: c.$primary;
		img {
			width: 50px;
		}
	}
	&__list {
		display: flex;
		gap: 40px;
		list-style: none;
		a {
			text-decoration: none;
			color: c.$primary;
			font-weight: bold;
		}
	}
	&__burger {
		width: 32px;
		display: none;
	}
}

@media (max-width: 1470px) {
	.header {
		justify-content: space-between;
	}
}
@media (max-width: 686px) {
	.header {
		&__logo {
			font-size: 28px;
			img {
				width: 34px;
			}
		}
		&__list {
			gap: 15px;
			a {
				font-size: 15px;
			}
		}
	}
}
@media (max-width: 526px) {
	.header {
		&__nav {
			display: none;
		}
		&__burger {
			display: block;
		}
	}
}
