@use "../../styles/colors" as c;
@use "../../styles/mixin" as m;

.search {
	@include m.gradient;
	@include m.flex-column;

	width: 500px;

	margin: 0 auto;

	border: 10px dashed c.$primary;
	border-radius: 50px;
	margin-bottom: 60px;
	align-items: center;

	&__title {
		margin-bottom: 20px;
		font-size: 50px;
		color: c.$primary;
	}

	&__text {
		font-size: 18px;
		line-height: 1.5;
		color: c.$secondary;
		margin-top: 10px;
	}

	&__btn {
		padding: 15px 30px;
		margin-bottom: 10px;
		border-radius: 30px;
		background-color: c.$primary;
		color: c.$background;
		text-decoration: none;
		width: 100px;
	}

	.search__btn:hover {
		background-color: c.$secondary;
		transform: translateY(-2px);
	}
}
@media (max-width: 710px) {
	.search {
		width: 400px;
		height: 300px;
		padding: 10px;
		&__title {
			font-size: 38px;
		}
	}
}
@media (max-width: 530px) {
	.search {
		width: 300px;
		height: 300px;
		padding: 20px;
		&__title {
			font-size: 28px;
		}
	}
}
