@use "../../styles/mixin" as m;
@use "../../styles/colors" as c;

.banner {
	@include m.container;
	@include m.gradient;
	@include m.flex-center;
	@include m.flex-column;
	margin: 50px;
	padding: 50px;

	border-radius: 24px;
	border: 20px dashed c.$black;
	&__title {
		font-size: 56px;
		font-weight: 800;
		color: c.$primary;
	}

	&__text {
		font-size: 20px;
		margin-top: 10px;
		color: c.$secondary;
	}

	&__image {
		@include m.flex-center;
		gap: 18px;
		margin-bottom: 45px;

		img {
			width: 55px;
			height: 55px;
			padding: 10px;
			border-radius: 30px;
			background-color: c.$white-transparent;
		}
	}

	&__poster {
		@include m.flex-center;
		gap: 28px;

		img {
			width: 180px;
			height: 270px;
			border-radius: 18px;
			@include m.shadow;
		}
	}

	.banner__poster img:nth-child(1) {
		transform: rotate(-6deg);
	}

	.banner__poster img:nth-child(2) {
		transform: translateY(-18px);
	}

	.banner__poster img:nth-child(3) {
		transform: rotate(6deg);
	}
}
@media (max-width: 2860px) {
	.banner {
		margin: 50 auto;
	}
}
@media (max-width: 1600px) {
	.banner {
		margin: 50px;
	}
}
@media (max-width: 792px) {
	.banner {
		&__title {
			font-size: 45px;
		}
		&__image {
			gap: 10px;
			img {
				width: 40px;
				height: 25px;
			}
		}
		&__poster {
			gap: 20px;
			img {
				width: 150px;
				height: 220px;
			}
		}
	}
}
@media (max-width: 671px) {
	.banner {
		&__title {
			font-size: 45px;
		}
		&__image {
			gap: 10px;
			img {
				width: 40px;
				height: 25px;
			}
		}
		&__poster {
			gap: 20px;
			img {
				width: 100px;
				height: 150px;
			}
		}
	}
}
@media (max-width: 518px) {
	.banner {
		&__title {
			font-size: 40px;
		}
		&__image {
			gap: 10px;
			img {
				width: 40px;
				height: 25px;
				&:nth-child(n + 4) {
					display: none;
				}
			}
		}
		&__poster {
			gap: 20px;
			img {
				width: 120px;
				height: 150px;
				&:nth-child(n + 3) {
					display: none;
				}
			}
		}
	}
}
